
@font-face {
  font-family: Montserrat;
  src: url("./montserrat.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Montserrat;
  src: url("./montserratBold.ttf");
  font-weight: 500;
}
body{
  font-family: "Montserrat", sans-serif !important;
}
.home {
  width: 100%;
  
}

