.adminProduct {
  margin-top: 90px;
  padding: 5px;
}
.adminProduct .box-product {
  display: flex;
  justify-content: space-between;
}
.adminProduct .box-product .adminProductButton{
  border: none;
  outlinr: none;
  width: 130px;
  background: #BF77F6;
  color: white;
  height: 50px;
  margin-top: 10px;
  border-radius: 5px;
}
.action-button{
  padding: 5px;
  z-index: 1000000;
}
.action-button .edit {
  width: 90px;
  height: 40px;
  background: green;
  color: white;
  margin-right: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
}
.action-button .delete{
  width: 90px;
  height: 40px;
  background: red;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
}
.action-button .delete:hover{
  width: 90px;
  height: 40px;
  background: white;
  outline: none;
  border: none;
  border-radius: 5px;
  color: black;
}