.homeProfile {
  display: flex;
  background: white;
  flex-direction: column;
  padding: 5px;
}
.homeProfile .desc {
  padding: 5px;
  height: 300px;
  background: white;
}
.stat-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.stat-container .stat-box{
  padding: 10px;
  background:#BF77F6;
  display: flex;
  color: white;
  width: 65%;
  margin: 5px;
  border-radius: 5px;
}
.stat-container .stat-box .stat-number {
  padding-left: 10px;
}
.mostProduct {
  padding-bottom: 70px;
}
.product-box .product-item {
  padding: 15px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 10px;
  height: auto;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif
}
.product-box .product-item .price{
  font-size: 16px;
  padding: none;
  color: #A868D9;
}
.product-box .product-item img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
.product-box .product-item p {
  font-size: 15px;
  padding: 0px;
  overflow: hidden;
  width: 100%; 
  white-space: nowrap; 
  text-overflow: ellipsis; 
}
.product-box .product-item span {
  font-size: 12px;
}
.product-box .product-item .rate span{
   font-size: 22px;
}
.product-box .product-item .rate img {
  height: 25px;
  width: 25px;
  margin-top: 10px;
}
@media only screen and (max-width: 464px) {
  .product-box .product-item p {
    font-size: 13px;
  }
  .product-box .product-item .rate img {
  height: 20px;
  width: 20px;
  margin-top: 10px;
  }
  .product-box .product-item .rate span{
   font-size: 14px;
  }
  .product-box .product-item {
  padding: 10px;
  background-color: #FFF;
  color: black;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 10px;
  height: auto;
  
  border-radius: 5px;
  font-family: "Montserrat", sans-serif
}
  .product-box .product-item img {
  width: 100%;
  height: 160px;
  border-radius: 10px;
  }
  .product-box .product-item .price{
    font-size: 16px;
    padding: none;
  }
}
