.searchResult{
  padding: 10px;
  width: 100%;
}
.gridDetail1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.grid1{
  display: flex;
  justify-content: center;
  background: #BF77F6;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  
}

 .naviDetail1 .goback1 img {
  width: 80px;
}
